h1{
    text-align: left;
    color: #060342;
    background-color: rgb(255, 255, 255);
}
hr{
    color: rgb(0, 0, 0);
}
img{
    border-style: solid;
    border-color: rgb(32, 5, 131);
    border-width: spx;
}
div{
    text-align: center;
}
.menu{
    text-align: left;
}
a:link{
    color: #fd2965;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}
.visited{
    color: #600000;
    background-color: aliceblue;
    text-decoration: double;

}
a:hover{
    color: rgb(0, 8, 255);
    background-color: aliceblue;
    text-decoration: blue;
}
a:active{
    color: rgb(255, 0, 0);
}